aiohttp
apscheduler>=3.11.0
asyncio==3.4.3
beautifulsoup4
fastapi
fastmcp==2.8
langchain
matplotlib
mcp[cli]==1.9.4
minio>=7.2.16
motor>=3.7.1
notebook
numpy
openai
openpyxl>=3.1.0
pandas
passlib[bcrypt]>=1.7.4
pyarrow>=21.0.0
pydantic[email]
python-docx>=1.2.0
python-jose[cryptography]>=3.5.0
python-multipart>=0.0.20
pyzmq
requests
sqlalchemy>=2.0.40
starlette>=0.46.2
tqdm
typing-extensions
uvicorn
websockets